<template>
  <div class="hello">
    <h2>Essential Links</h2>
      <form v-on:submit.prevent="formSubmit">
        <input v-model="formData.ime" type="text">
        <input v-model="formData.prezime" type="text">
        <input type="submit" value="Pošalji">
      </form>
  </div>
</template>

<script>
export default {
  name: 'hello',
  data: function () {
    return {
      formData: []
    }
  },
  methods: {
    formSubmit () {
      console.log(this.formData)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
