<template>
  <div>
    <ul v-for="post in posts">
      <li><a v-bind:href="getPermalink(post.id)">{{ post.title.rendered }}</a></li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'list',
  data () {
    return {
      posts: []
    }
  },
  methods: {
    loadPost () {
      this.$http.get('/wp-json/wp/v2/posts/').then((response) => {
        this.posts = response.data
      })
    },

    getPermalink (postID) {
      return '/post/' + postID
    }
  },
  mounted () {
    this.loadPost()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
