<template>
  <div>
    <h1>{{ this.postData.title }}</h1>
    <div v-html="this.postData.content"></div>
  </div>
</template>

<script>
export default {
  name: 'page',
  data () {
    return {
      postData: []
    }
  },
  methods: {
    loadPost () {
      var routeID = this.$route.params.id
      this.$http.get('/wp-json/wp/v2/pages/' + routeID).then((response) => {
        this.postData = response.data
        this.postData.title = response.data.title.rendered
        this.postData.content = response.data.content.rendered
      })
    }
  },
  mounted () {
    this.loadPost()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
